$primary-color: #3498db;
$secondary-color: #D3D3D3;
@import "../component/authorizationPage.scss";


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: $secondary-color;
  color: $primary-color;
}

.container {
  @include flex-center;
  flex-direction: column;
}